<template>
  <div>
  <div class="cartTable1" :style="{height: heightCart + 'px'}" >
      <div class="tableHead">
          <div class="headItem" style="width: 40%;">Name</div>
          <div class="headItem" style="width: 15%;">Qty</div>
          <div class="headItem" style="width: 20%;">Each</div>
          <div class="headItem" style="width: 25%;">Total</div>
      </div>
      <div class="tableBody" v-on-clickaway="closeCartItem">
          <template  v-for="(item, index) in cartArray">
            <div class="bodyItem" @click="cartOpen = index">
                <div class="col text-xs-left font-weight-light" style="width: 40%;">{{ item.name }} ({{item.price.name}})  <span v-if="item.extra">+{{item.extra | currency}}</span></div>
                <div class="col text-xs-left font-weight-light" style="width: 15%;">
                  <v-badge
                    color="cyan"
                    style="top: -3px;"
                  >
                    <template v-slot:badge>
                      <span>{{ 1 }}</span>
                    </template>
                  </v-badge>
                </div>
                <div class="col text-xs-left font-weight-light" style="width: 20%;">{{ item.price.value | currency }}</div>
                <!-- <div class="col text-xs-left font-weight-light subheading light-blue--text lighten-2" style="width: 25%;" v-if="item.extra">{{ item.price.value * 1 + item.extra + getExtra(item) | currency }}</div> -->
                <div class="col text-xs-left font-weight-light subheading light-blue--text lighten-2" style="width: 25%;">{{ item.price.value * 1 + getExtra(item) | currency }}</div>
                <div style="width: 100%;" v-if="item.links">
                  <div v-for="(Link, index) in item.links">
                    <span v-if="index == 0">{{Link.price.name}} <span v-if="Link.extra">(+{{Link.extra | currency }})</span></span>
                    <span v-if="index > 0">{{Link.name}} <span v-if="Link.extra">(+{{Link.extra | currency }})</span></span>
                  </div>
                  <!-- <div>
                    <div class="col py-0 text-xs-left font-weight-light" style="width: 40%;">{{ item.DiscountProduct.item.name }}</div>
                    <div class="col py-0 text-xs-left font-weight-light" style="width: 15%;">
                      <v-badge
                        color="cyan"
                        style="top: -3px;"
                      >
                        <template v-slot:badge>
                          <span>{{ 1 }}</span>
                        </template>
                      </v-badge>
                    </div>
                    <div class="col py-0 text-xs-left font-weight-light" style="width: 20%;">{{ item.DiscountProduct.price.value | currency }}</div>
                    <div class="col py-0 text-xs-left font-weight-light subheading light-blue--text lighten-2" style="width: 25%;">{{ item.DiscountProduct.price.value * 1 | currency }}</div>
                    <div style="100%;" class="pt-2">
                      <div class="col py-0 text-xs-right font-weight-bold" style="width: 55%;">Discount: </div>
                      <div class="col py-0 text-xs-left font-weight-light" style="width: 20%;">{{ item.Discount.discount | currency}}</div>
                      <div class="col py-0 text-xs-left font-weight-light subheading teal--text lighten-2" style="width: 25%;">{{ itemDiscountWith(item) | currency }}</div>
                      <p></p>
                    </div>
                  </div> -->
                </div>
                <div v-if="cartOpen === index">
                  <v-btn round small color="red" dark @click="deleteCartItem(index)">Delete</v-btn>
                  <!-- <v-btn round color="primary" dark>Rounded Button</v-btn> -->
                </div>
            </div>
            <template  v-for="(Discount, DiscountIndex) in Discounts">
              <div class="bodyItem" v-if="MaxCartItem(Discount.cartItemsUsed) == index">
                  {{Discount.discountId}}
              </div>
            </template>
          </template>


      </div>
  </div>
  <div class="grey lighten-3" style="height: 230px;border-top: 2px solid #cecece !important;">
    <!-- <v-layout px-2 ma-0>
      <v-flex xs12 class="text-xs-center"><v-icon>mdi-chevron-down</v-icon></v-flex>
    </v-layout> -->
    <v-layout px-2 ma-0>
      <v-flex xs6 style="border-right: 2px solid #ccc !important;">
        <v-layout pa-0 ma-0>
            <v-flex class="text-xs-left"><span class="font-weight-light text-uppercase grey--text text--darken-1">Items</span></v-flex>
            <v-spacer></v-spacer>
            <v-flex class="text-xs-right"><span class="font-weight-medium grey--text text--darken-3">{{cartArray.length}}</span></v-flex>
        </v-layout>
        <v-layout pa-0 ma-0>
            <v-flex class="text-xs-left"><span class="font-weight-light text-uppercase grey--text text--darken-1">Basket Discount</span></v-flex>
            <v-spacer></v-spacer>
            <v-flex class="text-xs-right"><span class="font-weight-medium grey--text text--darken-3">{{ discountTotal | currency}}</span></v-flex>
        </v-layout>
        <v-layout pa-0 ma-0>
            <v-flex class="text-xs-left"><span class="font-weight-light text-uppercase grey--text text--darken-1">Serivce Charge</span></v-flex>
            <v-spacer></v-spacer>
            <v-flex class="text-xs-right"><span class="font-weight-medium grey--text text--darken-3">off</span></v-flex>
        </v-layout>
      </v-flex>
      <v-flex xs6 style="border-left: 2px solid #ccc !important;">
        <v-layout pa-0 ma-0>
            <v-flex class="text-xs-left"><span class="font-weight-light text-uppercase grey--text text--darken-1">Total</span></v-flex>
            <v-spacer></v-spacer>
            <v-flex class="text-xs-right "><span class="title font-weight-medium grey--text text--darken-3">{{cartTotal | currency}}</span></v-flex>
        </v-layout>
        <v-layout pa-0 ma-0>
            <v-flex class="text-xs-left"><span class="font-weight-light text-uppercase grey--text text--darken-1">Due</span></v-flex>
            <v-spacer></v-spacer>
            <v-flex class="text-xs-right"><span class="font-weight-medium red--text text--darken-3">{{ cartTotal - paymentItems.paymentTotal | currency}}</span></v-flex>
        </v-layout>
        <v-layout pa-0 ma-0>
            <v-flex class="text-xs-left"><span class="font-weight-light text-uppercase grey--text text--darken-1">Serivce Charge</span></v-flex>
            <v-spacer></v-spacer>
            <v-flex class="text-xs-right"><span class="font-weight-medium grey--text text--darken-3">£0.00</span></v-flex>
        </v-layout>
      </v-flex>

    </v-layout>
    <v-layout px-2>
      <v-flex class="text-xs-center grey lighten-2 ma-2" style="height: 65px;">
        <p class="ma-0 pt-1"><v-icon>mdi-point-of-sale</v-icon></p>
        <span class="font-weight-medium text-uppercase grey--text text--darken-1">No Sale</span>
      </v-flex>
      <v-flex class="text-xs-center grey lighten-2 ma-2" style="height: 65px;">
        <p class="ma-0 pt-1"><v-icon>mdi-file-cancel</v-icon></p>
        <span class="font-weight-medium text-uppercase grey--text text--darken-1">Void Sale</span>
      </v-flex>
      <v-flex class="text-xs-center grey lighten-2 ma-2" style="height: 65px;">
        <p class="ma-0 pt-1"><v-icon>mdi-printer-settings</v-icon></p>
        <span class="font-weight-medium text-uppercase grey--text text--darken-1">Print</span>
      </v-flex>
      <v-flex class="text-xs-center grey lighten-2 ma-2" style="height: 65px;">
        <p class="ma-0 pt-1"><v-icon>mdi-bell-sleep</v-icon></p>
        <span class="font-weight-medium text-uppercase grey--text text--darken-1">Suspend</span>
      </v-flex>
    </v-layout>

    <v-layout px-2>
      <v-flex class="text-xs-center" pa-0>
        <v-btn class="red lighten-1" dark @click="changeTab(1)"v-if="tabs == 'itemTab-3'">Back to Sale</v-btn>
        <v-btn class="teal darken-1" dark @click="changeTab(3)" v-if="tabs != 'itemTab-3'">Checkout</v-btn>
    </v-flex>
    </v-layout>
  </div>
  </div>
</template>

<script>
import { directive as onClickaway } from 'vue-clickaway';

export default {
  name: 'Cart',
  components: {},
  props: {
    cartArray: [Array, Object],
    Discounts: [Array, Object],
    tabs: [String],
    paymentItems: Object,
    cartTotal: [Number],
    discountTotal: [Number]
  },
  directives: {onClickaway: onClickaway},
  data() {
    return {
      cartOpen: false
    }
  },
  methods: {
    MaxCartItem(CartItems) {
      return Math.max(...CartItems)
    },
    getExtra(item){
      var extra = 0;
      if(item.links !== undefined)
      {
        for (var i = 0; i < item.links.length; i++) {
          var link = item.links[i];
          if(link.extra != undefined)
          {
            extra += link.extra;
          }
        }
      }
      return extra;
    },
    changeTab: function(tab) {
      this.$emit('tabChange', tab)
    },
    deleteCartItem: function(index) {
      this.$emit('deleteCartItem', index)
    },
    closeCartItem: function (event) {
       this.cartOpen = false
    },
    itemDiscountWith(item){
      var currentItem = this.cartArray[i].item
      var currentPrice = this.cartArray[i].price
      return (parseFloat(item.price.value) + parseFloat(item.item.DiscountProduct.price.value)) - parseFloat(item.item.Discount.discount)
    },
  }
}
</script>

<style lang="scss" scoped>
.cartTable1 {
  overflow: auto;
}
.tableHead {
    border-bottom: 1px solid rgba(0,0,0,.12);
}

.tableHead .headItem,
.tableBody .bodyItem .col {
    display: inline-block;
    text-align: left;
    padding: 15px 2px 15px 12px;
    color: rgba(0,0,0,0.54);
    font-weight: 400;
    font-size: 12px;
    -webkit-transition: .3s cubic-bezier(.25,.8,.5,1);
    transition: .3s cubic-bezier(.25,.8,.5,1);
}
.bodyItem {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.tableBody .bodyItem .col {
  word-wrap: break-word;
word-break: break-word;
vertical-align: middle;
    color: rgba(0,0,0,.87);
}
</style>
<style lang="scss">
.cartTable table.v-table tbody td,
.cartTable table.v-table tbody td:first-child {
  padding: 2px 12px;
  padding-left: 15px;
}
</style>
