<template>
  <v-layout row wrap fill-height >
    <v-flex xs6 pa-4>
      <v-card
        class="mx-auto text-xs-center"
        color="white"
        light
        max-width="600"
      >
        <v-card-text>
          <div class="headline font-weight-light">Basket Discount</div>
          <span style="font-size: 20px;color: #37474f;">{{ discountTotal | currency}}</span>
        </v-card-text>
        <v-card-text>
          <div class="headline font-weight-light">Cart Total</div>
          <span class="title" style="color: #37474f;">{{ cartTotal | currency}}</span>
        </v-card-text>
        <v-card-text>
          <div class="headline font-weight-light">Payment Amount</div>
          <span  class="title" style="color: #37474f;">{{ paymentItems.paymentTotal | currency}}</span>
        </v-card-text>

        <v-divider></v-divider>

        <!-- <v-card-actions class="justify-center">
          <v-btn block flat>Go to Report</v-btn>
        </v-card-actions> -->
      </v-card>
    </v-flex>
    <!-- <v-flex xs1></v-flex> -->
    <v-flex xs6>
      <v-card class="transparent elevation-0">
        <v-card-text>
        <Numberpad v-on:keypress="keypress" keypadtype="pay" maxlength="4">
          <template slot="input">
            <div
              class="input"
            >
              <!-- <label class="label" for="numlabel">User Passcode</label> -->
              <input
                id="numlabel"
                class="nolabel"
                v-model="paymentInput"
              >
            </div>
          </template>
        </Numberpad>
        </v-card-text>
      </v-card>
      <v-layout row wrap pa-3>
        <v-flex xs4>
          <v-card dark class="blue lighten-3 Item" @click="payment('20', 'cash')">
            <v-card-text class="pa-0 text">£20</v-card-text>
          </v-card>
        </v-flex>
        <v-flex xs4>
          <v-card dark class="orange lighten-2 Item" @click="payment('10', 'cash')">
            <v-card-text class="pa-0 text">£10</v-card-text>
          </v-card>
        </v-flex>
        <v-flex xs4>
          <v-card dark class="teal lighten-3 Item" @click="payment('5', 'cash')">
            <v-card-text class="pa-0 text">£5</v-card-text>
          </v-card>
        </v-flex>
        <v-flex xs6>
          <v-card dark class="light-blue lighten-3 Item" @click="payment('typed', 'cash')">
            <v-card-text class="pa-0 text">Cash</v-card-text>
          </v-card>
        </v-flex>
        <v-flex xs4>
          <v-card dark class="red lighten-3 Item"  @click="payment('typed', 'card')">
            <v-card-text class="pa-0 text">Card</v-card-text>
          </v-card>
        </v-flex>
        <v-flex xs2>
          <v-card dark class="red darken-3 Item"  @click="paymentInput = ''; paymentItems.paymentTotal = ''">
            <v-card-text class="pa-0 text">Clear</v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-flex>
    <v-dialog
        v-model="paymentDialog.show"
        fullscreen
        hide-overlay
        transition="dialog-bottom-transition"
      >
        <v-card tile>
          <v-toolbar card dark color="primary">
            <v-toolbar-title>Processing Payment</v-toolbar-title>
            <v-spacer></v-spacer>
            <!-- <v-btn
              color="white darken-1"
              flat="flat"
              @click="newTransaction"
            >
                New Sale
            </v-btn> -->
          </v-toolbar>
          <v-card-text>
            <template v-if="paymentItems.isCardPayment == false">
              <h1 class="display-3 font-weight-light text-xs-center">Change Due</h1>
              <h2 class="display-2 text-xs-center">{{ paymentItems.paymentTotal - cartTotal | currency }}</h2>
              <br><br>
              <p class="text-xs-center">{{paymentDialog.countdown}} Until New Transaction Screen</p>
            </template>
          </v-card-text>
          <div style="flex: 1 1 auto;"></div>
        </v-card>
      </v-dialog>
  </v-layout>
</template>

<script>
import Numberpad from '../components/NumberPad.vue';
export default {
  name: 'Cart',
  components: {
    Numberpad
  },
  props: {
    cartArray: [Array, Object],
    Discounts: [Array, Object],
    paymentItems: Object,
    cartTotal: [Number],
    discountTotal: [Number]
  },
  data() {
    return {
      paymentDialog: {
        show: false,
        countdown: 5,
        Interval: false,
        Timeout: false,
      },
      paymentInput: '',
    }
  },
  methods: {
    keypress(key) {
      var payment = this.paymentInput;
      if (key == 'point') return this.paymentInput = payment + '.';
      if (key == 'backspace') return this.paymentInput = payment.slice(0, -1);
      if (key == 'clear') return this.paymentInput = '';
      if (key == 'enter') return '';
      return this.paymentInput = payment + key
    },
    payment(amount, type) {
      if (this.cartTotal == 0) return;
      var paymentInput = this.paymentInput;

      var amountC = (amount == 'typed') ? parseFloat(paymentInput) : parseFloat(amount)
          amountC = (amount == 'typed' && paymentInput == '') ? this.cartTotal - this.paymentItems.paymentTotal : amountC

      if (type == 'cash') this.cashPayment(parseFloat(amountC));
      if (type == 'card') this.cardPayment(parseFloat(amountC));
    },
    cashPayment(amount){
      this.$set(this, 'paymentInput', '');
      this.$set(this.paymentItems, 'paymentTotal', this.paymentItems.paymentTotal + amount)

      if (this.paymentItems.paymentTotal >= this.cartTotal){
        this.processPayment();
      }
    },
    cardPayment(amount){
      if (this.paymentItems.paymentTotal > this.cartTotal){
        // CallCard(cartTotal)
      }
      if (this.paymentItems.paymentTotal < this.cartTotal){
        // CallCard(paymentTotal)
      }
      // this.paymentTotal += amount;
    },
    processPayment(){
      if (this.paymentTotal < this.cartTotal) return;

      this.dialogTimeout();

    },
    dialogTimeout(){
      this.paymentDialog.show = true;
      this.paymentDialog.Interval = setInterval(() => {
        this.paymentDialog.countdown -= 1;
      }, 1000);

      this.paymentDialog.Timeout = setTimeout(() => {
        this.paymentDialog.show = false;
        this.newTransaction()
      }, 5000);
    },
    newTransaction(){
      this.$emit('newTransaction')
      clearInterval(this.paymentDialog.Interval)
      clearTimeout(this.paymentDialog.Timeout)
      this.$set(this, 'paymentDialog', {
        show: false,
        countdown: 5,
        Interval: false,
        Timeout: false,
      })
    }
  }
}
</script>
