<template>
  <v-container grid-list-xs>
    <v-layout row wrap>
      <v-flex xs12>
        <span v-if="category.name">{{category.name}}</span>
        <span v-else-if="product.name">{{product.name}}</span>
        <span v-else-if="Linking.link">{{Linking.link.name}} ({{Linking.link.price.name}})</span>
        <span v-else>Item Home</span>
      </v-flex>
      <v-flex xs3 v-if="category != 'base'">
        <v-card dark class="red darken-2 Item" @click.native="productFunction({type: 'back'})" v-if="Linking.link == undefined">
          <v-card-text class="pa-0 text">Back</v-card-text>
        </v-card>
      </v-flex>

      <v-flex xs3 v-for="(item, index) in Categories">
        <v-card dark class="blue darken-2 Item" @click.native="categoryClick(item)">
          <v-card-text class="pa-1 text">{{item.name}}</v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs3 v-for="(product, index) in Products">
        <v-card dark class="blue-grey lighten-4 black--text Item" @click.native="productFunction({type: 'add', item: product, price: 0})" v-if="product.pricing.length == 1 && product.pricing[0].linkItems == undefined">
          <v-card-text class="pa-1 text">{{product.name}}</v-card-text>
        </v-card>
        <v-card dark class="blue-grey lighten-4 black--text Item" @click.native="startLink({item: product, price: 0})" v-else-if="product.pricing.length == 1 && product.pricing[0].linkItems != undefined">
          <v-card-text class="pa-1 text">{{product.name}}</v-card-text>
        </v-card>
        <v-card dark class="blue-grey lighten-4 black--text Item" @click.native="productFunction({type: 'click', item: product})" v-else-if="product.pricing.length > 1">
          <v-card-text class="pa-1 text">{{product.name}}</v-card-text>
        </v-card>
        <!--
        <v-card dark class="blue-grey lighten-4 black--text Item" @click.native="startDiscount(product)" v-else-if="product.hasChild == false && product.Discounts">
          <v-card-text class="pa-1 text">{{product.name}}</v-card-text>
        </v-card> -->
      </v-flex>
      <v-flex xs3 v-for="(price, index) in product.pricing">
        <v-card dark class="indigo lighten-3 Item" @click.native="startLink({item: product, price: index})" v-if="product.pricing[index].linkItems != undefined">
          <v-card-text class="pa-1 text">{{price.name}}</v-card-text>
        </v-card>
        <v-card v-else dark class="blue-grey lighten-4 black--text Item" @click.native="productFunction({type: 'add', item: product, price: index})">
          <v-card-text class="pa-1 text">{{price.name}}</v-card-text>
        </v-card>
      </v-flex>
    </v-layout>


    <template v-if="Linking.link">
      <template v-for="(linkGroup, linkIndex) in Linking.link.price.linkItems">
        <v-layout row wrap>
          <v-flex xs3  v-if="linkIndex == 0">
            <v-card dark class="red darken-2 Item" @click.native="productFunction({type: 'home'})">
              <v-card-text class="pa-0 text">Cancel</v-card-text>
            </v-card>
          </v-flex>

          <template v-if="!Array.isArray(linkGroup)">
            <v-flex xs12 v-if="linkIndex > 0">
              <span>{{linkGroup.title}}</span>
            </v-flex>

            <v-flex xs3 v-for="(Product, index) in Linking.linkGroups[linkIndex]" @click="addLink(linkIndex, Product)">
              <template v-if="Linking.link.links[linkIndex] != undefined">
                <v-card dark class="blue-grey black--text lighten-4 Item" :class='{"lighten-1 white--text": (Linking.link.links[linkIndex]._id == Product._id) && (Linking.link.links[linkIndex].priceIndex == Product.priceIndex)}'>
                  <v-card-text class="pa-1 text">{{Product.price.name}}</v-card-text>
                </v-card>
              </template>
              <template v-else>
                <v-card dark class="blue-grey lighten-4 black--text Item">
                  <v-card-text class="pa-1 text">{{Product.price.name}}</v-card-text>
                </v-card>
              </template>
            </v-flex>
          </template>
          <template v-else-if="Array.isArray(linkGroup)">
            <template v-for="(SubGroup, SubGroupIndex) in Linking.linkGroups[linkIndex]">
              <v-flex xs12>
                <p>{{linkGroup[SubGroupIndex].title}} <span v-if="linkGroup[SubGroupIndex].extra != undefined">(+{{linkGroup[SubGroupIndex].extra | currency }})</span></p>
              </v-flex>
              <v-flex xs3 v-for="(Product, index) in SubGroup" @click="addLink(linkIndex, Product, linkGroup[SubGroupIndex].extra)">
                <template v-if="Linking.link.links[linkIndex] != undefined">
                  <v-card dark class="blue-grey black--text lighten-4 Item" :class='{"lighten-1 white--text": (Linking.link.links[linkIndex]._id == Product._id) && (Linking.link.links[linkIndex].priceIndex == Product.priceIndex)}'>
                    <v-card-text class="pa-1 text">{{Product.name}} <span v-if="Product.extra != undefined && linkGroup[SubGroupIndex].extra == undefined">(+{{Product.extra | currency }})</span></v-card-text>
                  </v-card>
                </template>
                <template v-else>
                  <v-card dark class="blue-grey lighten-4 black--text Item">
                    <v-card-text class="pa-1 text">{{Product.name}} <span v-if="Product.extra != undefined && linkGroup[SubGroupIndex].extra == undefined">(+{{Product.extra | currency }})</span></v-card-text>
                  </v-card>
                </template>
              </v-flex>
            </template>
          </template>
        </v-layout>      
      </template>
    </template>
  </v-container>
</template>

<script>
export default {
  name: 'Items',
  props: {
    category: [String, Object, Boolean],
    product: [String, Object, Boolean],
    linkCategory: [String, Object, Boolean],
    linkProducts: [String, Object, Boolean, Array]
  },
  data() {
    return {
      Categories: [],
      Products: [],
      Linking: {}
    }
  },
  created() {
    var _this = this;
    if(this.category == 'base')
    {
      this.$socket.emit('layout_category', 'base')
      this.$socket.emit('layout_product', 'base')
      this.$socket.on('layout_category', (response) => {
        if(response == false)
        {
          _this.$set(_this, 'Categories', [])
        }else{
          _this.Categories.push(response);
        }
      });
      this.$socket.on('layout_product', (response) => {
        _this.$set(_this, 'Products', response)
      });

      // this.$socket.emit('Categories', 'base')
      // this.$socket.on('Categories', (response) => {
      //   _this.$set(_this, 'Categories', response)
      // });
      //
      // // this.$socket.emit('Products', 'base')
      // this.$socket.on('Products', (response) => {
      //   _this.$set(_this, 'Products', response)
      // });

      // this.$socket.on('ParentProduct', (response) => {
      //   _this.$set(_this, 'ParentProduct', response)
      // });
      //
      // this.$socket.on('ParentCategory', (response) => {
      //   _this.$set(_this, 'ParentCategory', response)
      // });
    }

    this.$socket.on('linkGroup', (response) => {
      var LinkGroup;
      if(Array.isArray(response.linkGroup))
      {
        LinkGroup = response.linkGroup[0];

        if(!Array.isArray(_this.Linking.linkGroups[response.linkGroup[0]]))
        {
          _this.$set(_this.Linking.linkGroups, response.linkGroup[0], [])
        }
        _this.$set(_this.Linking.linkGroups[response.linkGroup[0]], response.linkGroup[1], response.linkItems)
      }else{
        LinkGroup = response.linkGroup;
        _this.$set(_this.Linking.linkGroups, response.linkGroup, response.linkItems)
      }

      var auto_select = _this.Linking.link.price.linkItems[LinkGroup].auto_select;
      if(auto_select != undefined) {
        var item = _this.Linking.link.price.linkItems[LinkGroup].items[auto_select];
        var splitter = item.toString().split("|");
        var extra = (splitter[2] != undefined) ? splitter[2] : 0;

        var selectItem = _this.Linking.linkGroups[LinkGroup][auto_select]
        _this.addLink(response.linkGroup, selectItem, extra)
      }
    });
    // this.$socket.on('DiscountItems', (response) => {
    //   _this.DiscountItems.push(response)
    //   // console.log(response)
    //   // _this.$set(_this, 'ParentCategory', response)
    // });

    this.$socket.on('addToCartGroupDiscount', (response) => {
      if(_this.DiscountCartItems.item)
      {
        _this.DiscountCartItems.item.Discount = response;
        _this.productFunction({type: 'add', item: _this.DiscountCartItems.item, price: _this.DiscountCartItems.price})
        _this.productFunction({type: 'home'});
      }
    });

  },
  methods: {
    addLink: function(groupIndex, link, extra = 0) {
      this.$set(this.Linking.link.links, groupIndex, link)

      var previousIndex = (groupIndex == 0) ? 0 : groupIndex - 1;
      if(this.Linking.link.links[previousIndex] !== undefined)
      {
        if(this.Linking.link.links.length == this.Linking.link.price.linkItems.length)
        {
          if(extra != 0)
          {
            if(this.Linking.link.extra)
            {
              this.Linking.link.extra += extra
            }else{
              this.Linking.link.extra = extra
            }
          }
          this.productFunction({
            type: 'add',
            item: this.Linking.link,
            price: this.Linking.link.price,
          })
          // console.log('addToCart')
        }
      }
    },
    productFunction: function(data){
      this.Categories = [];
      this.Products = [];
      this.Linking = {};
      this.$emit('product', data);
    },
    categoryClick: function(item){
      this.$emit('categoryClick', item);
    },
    startLink: function(data){
      this.Categories = [];
      this.Products = [];

      this.$emit('falsify', 'product');

      this.Linking = {
        link: {
          _id: data.item._id,
          name: data.item.name,
          stockProduct: data.item.stockProduct,
          price: data.item.pricing[data.price],
          links: [],
        },
        linkGroups: []
      }

      this.$socket.emit('links', data.item.pricing[data.price].linkItems);
    }


    // startDiscount(product) {
    //   var _this = this;
    //   this.$socket.emit('DiscountItems', product);
    //
    //   this.DiscountCart = {
    //     discountID: product.Discounts[0].discountID,
    //     items: {}
    //   }
    //   this.DiscountCart.items[product.Discounts[0].itemGroup] = product._id;
    //   this.DiscountCartItems = {
    //     item: this.ParentProduct,
    //     price: product
    //   }
    //   // console.log(product)
    // },
    // continueDiscount(product, groupIndex, Group){
    //   if(this.DiscountItems.length == groupIndex)
    //   {
    //     this.DiscountCart.items[Group.groupId] = product._id;
    //
    //     // var newItem = product.slice();
    //     var cart = {
    //       item: product.Parent
    //     }
    //     delete product.Parent;
    //     cart.price = product;
    //
    //     this.DiscountCartItems.item.DiscountProduct = cart;
    //
    //
    //     // this.DiscountCartItems.push(cart)
    //     this.$socket.emit('addToCartGroupDiscount', this.DiscountCart);
    //     // this.productFunction({type: 'home'});
    //
    //     console.log('finish')
    //   }
    // }
  },
  watch: {
    category: function(){
      var _this = this;
      this.Categories = [];
      this.Products = [];

      if(this.category == 'base') {
        this.$socket.emit('layout_category', 'base')
        this.$socket.emit('layout_product', 'base')
      }else if(this.category != false){
        if(this.category._id)
        {
          this.$socket.emit('layout_category', this.category._id)
        }

        if(this.category.Products)
        {
          if(this.category.Products.length > 0)
          {
            this.$socket.emit('layout_product', this.category.Products)
          }
        }

      }

      if(this.category != false)
      {
        // var find;
        // if(this.category._id) {
        //   find = {type: 'category', parent: this.category._id}
        // }else{
        //   find = 'base'
        // }
        // this.$socket.emit('Categories', find)
        // this.$socket.emit('Products', find)

      }

    },
  },
  components: {}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.active {

}
</style>
<style lang="scss">
.Item {
  height: 75px;
  overflow: hidden;
  .text{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

</style>
