<template>
    <div class="keypad">
      <div class="keypadinput">
        <slot name="input"></slot>
      </div>
      <div class="keyrow" :class="{ three: payrow, four: numberrow }" v-for="(keys, index) in keys[keypadtype]" :key="index">
        <template v-for="(key, index) in keys" >
          <div :key="index" class="key"  v-if="!key.height" @click="keypress(key)">
            <span v-if="key == 'enter'"></span>
            <template v-else-if="key == 'point'">
              <span v-if="nopoint"></span>
              <span v-else><v-icon dark>mdi-circle-small</v-icon></span>
            </template>
            <span v-else-if="key == 'backspace'"><v-icon dark>mdi-backspace-outline</v-icon></span>
            <span v-else>{{key}}</span>
          </div>
          <div class="key" :class="key.height" :key="index" v-if="key.height" @click="keypress(key.name)">{{key.name}}</div>
        </template>
      </div>
    </div>
  <!-- <keypad class="col-lg-12 noselect">

     <keyrow data-num="1" style="width: 25%;">
        <key data-value="1" class="key" @click="keypress(1)">1</key>
        <key data-value="4" class="key" @click="keypress(4)">4</key>
        <key data-value="7" class="key" @click="keypress(7)">7</key>
        <key data-value="point" class="key"><i class="icon wb-small-point" aria-hidden="true" @click="keypress('point')"></i></key>
    </keyrow>
    <keyrow data-num="2" style="width: 25%;">
        <key data-value="2" class="key" @click="keypress(2)">2</key>
        <key data-value="5" class="key" @click="keypress(5)">5</key>
        <key data-value="8" class="key" @click="keypress(8)">8</key>
        <key data-value="0" class="key" @click="keypress(0)">0</key>
    </keyrow>
    <keyrow data-num="3" style="width: 25%;">
        <key data-value="3" class="key" @click="keypress(3)">3</key>
        <key data-value="6" class="key" @click="keypress(6)">6</key>
        <key data-value="9" class="key" @click="keypress(9)">9</key>
        <key data-value="back" class="key"><i class="icon ion-backspace-outline" aria-hidden="true"></i></key>
    </keyrow>
    <keyrow data-num="4" style="width: 25%;">
        <key data-value="clear" class="key-2" @click="keypress('clear')">Clear</key>
        <key data-value="enter" class="key-3" @click="keypress('enter')">Enter</key>
    </keyrow>
  </keypad> -->
</template>

<script>
export default {
  name: 'Numberpad',
  components: {

  },
  props: {
    nopoint: Boolean,
    label: String,
    maxlength: String,
    keypadtype: String
  },
  computed: {
    payrow:function() {
      if(this.keypadtype == 'pay') {return true;};
    },
    numberrow: function() {
      if(this.keypadtype == 'number') {return true;};
    }
  },
  data() {
    return {
      keys: {
        number: {
          row1: [1, 4, 7, 'point'],
          row2: [2, 5, 8, 0],
          row3: [3, 6, 9, 'backspace'],
          row4: {
            0: {
              name: 'clear',
              height: 'one',
            },
            1: {
              name: 'enter',
              height: 'three',
            }
          }
        },
        pay: {
          row1: [1, 4, 7, 'point'],
          row2: [2, 5, 8, 0],
          row3: [3, 6, 9, 'backspace']
          }
      },
      codeInput: ''
    }
  },
  methods: {
    keypress: function(value) {
        this.$emit('keypress', value);
    },
    iflabel: function() {
      if(this.$props.label)
      {
        return false;
      }

      return true;
    }
  },
  watch: {

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.keypad {
    position: relative;
    background: #546b79;
    padding: 0!important;
    // float: right!important;
    border-radius: 4px;
    overflow: hidden;
}
.keypad > .keyrow {
  width: 25%;
	float: left;
	border-left: 1px solid #2c3e50;
  &.four {
    width: 25%;
  }
  &.three {
    width: 33.33%;
  }
}
.keypadinput {
  .input {
      border: 2px solid #415460;
      // border-bottom: 0;
      background: white;
      padding: 5px 12px;
      // margin-bottom: 10px;
      &.focus {
        border-color: #1976d2;
        .label {
            color: #1976d2;
          }
      }
      .label {
          color: #415460;
          display: block;
          height: 20px;
          line-height: 20px;
          font-size: 13px;
          text-align: center;
      }
      input {
          -webkit-box-flex: 1;
          -ms-flex: 1 1 auto;
          flex: 1 1 auto;
          line-height: 20px;
          max-width: 100%;
          min-width: 0;
          width: 100%;
          outline: none;
          font-size: 26px;
          text-align: center;
          &.nolabel {
            padding: 10px 0;
          }
      }
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

// .keypad > .keyrow:nth-child(2) {
// 	border-left: 0;
// }

.keypad > .keyrow > *{
    background: #415460;
    border-top: 1px solid #2c3e50;
    color: white;
    width: 100%;
    line-height: 75px;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    float: left;
    cursor: pointer;
    height: 80px;
    text-transform: capitalize;
}

.keypad > .keyrow > *:active,
.keypad > .keyrow > *:focus {
	background-color: #415460b5!important;
}

.keypad > .keyrow > .key.two {
    background: #6C7A89;
}
.keypad > .keyrow > .key.three {
    height: 240px;
    line-height: 240px;
    background: #6C7A89;
    max-height: unset;
}

.keypad > .keyrow [class*='key-']:active,
.keypad > .keyrow [class*='key-']:focus {
	background-color: #6c7986d9!important;
}

.keypad {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
</style>
