<template>
  <div>
    <v-layout row wrap style="height: 75px;" elevation-3 v-if="tabs != 'itemTab-3'" my-0>
      <v-flex xs4 class="grey lighten-2" pt-3>
        <span style="color: #717273;text-transform: uppercase;font-weight: 300;">Basket Discount</span><br>
        <span style="font-size: 20px;color: #37474f;">{{ discountTotal | currency}}</span>
      </v-flex>
      <v-flex xs4 class="grey lighten-2" pt-3>
        <span style="color: #717273;text-transform: uppercase;font-weight: 300;">Cart Total</span><br>
        <span style="font-size: 20px;color: #37474f;">{{cartTotal | currency}}</span>
      </v-flex>
      <v-flex xs4 class="grey lighten-3" elevation-3 style="height: 75px;">
        <div class="text-xs-center mt-3">
          <v-btn class="red lighten-1" dark @click="changeTab(1)" v-if="tabs == 'itemTab-3'">Back to Sale</v-btn>
          <v-btn class="teal darken-1" dark @click="changeTab(3)" v-if="tabs != 'itemTab-3'">Checkout</v-btn>
        </div>
      </v-flex>
    </v-layout>
    <v-layout row wrap style="height: 75px;" v-if="tabs == 'itemTab-3'" my-0>
      <v-flex xs8 class="grey lighten-2" pt-3></v-flex>
      <v-flex xs4 class="grey lighten-3" elevation-3>
        <div class="text-xs-center mt-3">
          <v-btn class="red lighten-1" dark @click="changeTab(1)"v-if="tabs == 'itemTab-3'">Back to Sale</v-btn>
          <v-btn class="teal darken-1" dark @click="changeTab(3)" v-if="tabs != 'itemTab-3'">Checkout</v-btn>
        </div>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
export default {
  name: 'TotalsRow',
  components: {

  },
  props: {
    cartArray: [Array, Object],
    tabs: [String],
  },
  data() {
    return {

    }
  },
  computed: {
    cartTotal: function() {
      var runningTotal = 0;
      for (var i = 0; i < (this.cartArray).length; i++) {
        var currentItem = this.cartArray[i]
        var extra = this.getExtra(currentItem)
        runningTotal += parseFloat(1) * parseFloat(currentItem.price.value) + extra

        if(this.cartArray[i].DiscountProduct)
        {
          var DiscountProduct = this.cartArray[i].DiscountProduct
          // for (var i1 = 0; i1 < (this.cartArray[i].linkItems).length; i1++) {
            runningTotal += parseFloat(DiscountProduct.price.value)

            if(this.cartArray[i].Discount)
            {
              var discount = parseFloat(this.cartArray[i].Discount.discount);
              runningTotal -= discount;
            }
          // }
        }

      }

      return runningTotal;
    },
    discountTotal: function() {
        var runningTotal = 0;
        for (var i = 0; i < (this.cartArray).length; i++) {
          if(this.cartArray[i].DiscountProduct)
          {
            runningTotal += parseFloat(this.cartArray[i].Discount.discount);
          }
        }
        // for (var i = 0; i < (this.cartArray).length; i++) {
        //   if(this.cartArray[i].linkItems)
        //   {
        //     for (var i1 = 0; i1 < (this.cartArray[i].linkItems).length; i1++) {
        //       if(this.cartArray[i].linkItems[i1].linkPrice)
        //       {
        //         var discount = this.itemDiscount(this.cartArray[i], this.cartArray[i].linkItems[i1]);
        //         runningTotal += discount;
        //       }
        //     }
        //   }
        // }

        return runningTotal;
    }
  },
  methods: {
    getExtra(item){
      var extra = 0;
      if(item.links !== undefined)
      {
        for (var i = 0; i < item.links.length; i++) {
          var link = item.links[i];
          if(link.extra != undefined)
          {
            extra += link.extra;
          }
        }
      }
      return extra;
    },
    changeTab(tab){
      this.$emit('changeTab', tab)
    }
  },
  watch: {

  }
}
</script>

<style lang="scss" scoped>

</style>
