<template>
  <v-app :style="{width: pageWidth + 'px', height: pageHeight + 'px'}" class="grey lighten-2" >
    <v-system-bar status color="primary" dark>
      <span style="margin-top: -5px;">Till 1</span>
      <v-spacer></v-spacer>

      <span style="margin-top: -5px;" v-if="$user">{{ $user.name.fore }} {{ $user.name.sur }} ({{ $user.userid }})</span>
      <span style="margin-top: -5px;" v-else-if="user">{{ user.name.fore }} {{ user.name.sur }} ({{ user.userid }})</span>
      <span style="margin-top: -5px;" v-else>No Current User</span><span style="margin-top: -5px;">&nbsp;&bull;&nbsp;</span>
      <span style="margin-top: -5px;">{{hours}}:{{minutes}}{{hourtime}}</span>
    </v-system-bar>

    <v-content>
        <router-view/>
    </v-content>
  </v-app>
</template>

<script>
import { EventBus } from './event-bus.js';

export default {
  name: 'App',
  components: {
  },
  onIdle() {
    if(this.$route.name != 'login')
    {
      setTimeout(() => {
        localStorage.removeItem('user')
        this.$router.push({name: 'login'})
      }, 2000);
    }

    // this.user = payload;
  },
  onActive() {

  },
  data () {
    return {
      user: null,
      hours: '',
      minutes: '',
      seconds: '',
      hourtime: ''
    }
  },
  created() {
    this.updateDateTime();
  },
  methods: {
    updateDateTime: function updateDateTime() {
      var _this = this;
      var now = new Date();

      _this.hours = now.getHours();
      _this.minutes = _this.getZeroPad(now.getMinutes());
      _this.seconds = _this.getZeroPad(now.getSeconds());
      _this.hourtime = _this.getHourTime(_this.hours);
      _this.hours = _this.hours % 12 || 12;

      setTimeout(_this.updateDateTime, 1000);
    },
    getHourTime: function getHourTime(h) {
      return h >= 12 ? 'pm' : 'am';
    },
    getZeroPad: function getZeroPad(n) {
      return (parseInt(n, 10) >= 10 ? '' : '0') + n;
    }
  },
  mounted() {
    EventBus.$on('user_logged', payload => {
      this.user = payload;
    })
  }
}
</script>
<style lang="scss">
$font-stack:    Helvetica, sans-serif;
  html {
    overflow: hidden!important;
  }
  #app {
    overflow: hidden;
  }

</style>
