<template>
  <v-container pa-0 fluid grid-list-md text-xs-center class="grey lighten-2" :style="{height: height24 + 'px'}">
    <v-layout row wrap fill-height elevation-3 :style="{height: pageHeight + 'px'}">
      <v-flex xs7>
            <v-tabs
              v-model="tabs"
              fixed-tabs
              color="transparent">

              <v-tabs-slider></v-tabs-slider>
              <v-tab href="#itemTab-1">
                <span style="cursor: pointer;">Items</span>
              </v-tab>

              <v-tab href="#itemTab-2">
                <span style="cursor: pointer;">Settings</span>
              </v-tab>

              <v-tab href="#itemTab-3">
                <span style="cursor: pointer;">Checkout</span>
              </v-tab>
            </v-tabs>
            <v-tabs-items v-model="tabs">
              <v-tab-item
                key="1"
                value="itemTab-1"
              >
                <Items
                  :category="category"
                  :product="product"
                  v-on:product="productFunction"
                  v-on:categoryClick="categoryClick"
                  v-on:falsify="falsify"
                ></Items>
              </v-tab-item>
              <v-tab-item
                key="2"
                value="itemTab-2">
                2
              </v-tab-item>
              <v-tab-item
                key="3"
                value="itemTab-3">
                <Checkout
                  :cartTotal="cartTotal"
                  :discountTotal="discountTotal"
                  :cartArray="cartArray"
                  :Discounts="Discounts"
                  :paymentItems="paymentItems"
                  v-on:newTransaction="newTransaction"
                ></Checkout>
              </v-tab-item>
            </v-tabs-items>
      </v-flex>
      <v-flex pa-0 xs5 elevation-3 class="grey lighten-4" style="overflow: auto;">
        <Cart
          :cartTotal="cartTotal"
          :discountTotal="discountTotal"
          v-on:deleteCartItem="deleteCartItem"
          v-on:tabChange="changeTab"
          :cartArray="cartArray"
          :Discounts="Discounts"
          :paymentItems="paymentItems"
          :tabs="tabs"
        ></Cart>
      </v-flex>
    </v-layout>
    <!-- <TotalsRow :cartArray="cartArray" :tabs="tabs" v-on:changeTab="changeTab"></TotalsRow> -->
  </v-container>
</template>
<script>
import Items from '../components/Items.vue';
import Cart from '../components/Cart.vue';
import Checkout from '../components/Checkout.vue';
import TotalsRow from '../components/TotalsRow.vue';

export default {
  name: 'Home',
  components: {
    Items,Cart,Checkout,TotalsRow
  },
  onIdle() {
    if(this.$route.name != 'login')
    {
      if(this.cartArray.length > 0)
      {
        var user = JSON.parse(localStorage.getItem('user'));
        localStorage.setItem('user_idle_' + user.userid, JSON.stringify({
          cartArray: this.cartArray
        }))
      }
    }
    // this.user = payload;
  },
  computed: {
    cartTotal: function() {
      var runningTotal = 0;
      for (var i = 0; i < (this.cartArray).length; i++) {
        var currentItem = this.cartArray[i]
        var extra = this.getExtra(currentItem)
        runningTotal += parseFloat(1) * parseFloat(currentItem.price.value) + extra

        // if(this.cartArray[i].item.DiscountProduct)
        // {
        //   var DiscountProduct = this.cartArray[i].DiscountProduct
        //   // for (var i1 = 0; i1 < (this.cartArray[i].linkItems).length; i1++) {
        //     runningTotal += parseFloat(DiscountProduct.price.value)
        //
        //     if(this.cartArray[i].Discount)
        //     {
        //       var discount = parseFloat(this.cartArray[i].Discount.discount);
        //       runningTotal -= discount;
        //     }
        //   // }
        // }

      }

      return runningTotal;
    },
    discountTotal: function() {
        var runningTotal = 0;
        // for (var i = 0; i < (this.cartArray).length; i++) {
        //   if(this.cartArray[i].DiscountProduct)
        //   {
        //     runningTotal += parseFloat(this.cartArray[i].Discount.discount);
        //   }
        // }
        // for (var i = 0; i < (this.cartArray).length; i++) {
        //   if(this.cartArray[i].linkItems)
        //   {
        //     for (var i1 = 0; i1 < (this.cartArray[i].linkItems).length; i1++) {
        //       if(this.cartArray[i].linkItems[i1].linkPrice)
        //       {
        //         var discount = this.itemDiscount(this.cartArray[i], this.cartArray[i].linkItems[i1]);
        //         runningTotal += discount;
        //       }
        //     }
        //   }
        // }

        return runningTotal;
    }
  },
  created() {
    var user = JSON.parse(localStorage.getItem('user'));
    if(localStorage.getItem('user_idle_' + user.userid)) {
      var idleUser = JSON.parse(localStorage.getItem('user_idle_' + user.userid));
      this.cartArray = idleUser.cartArray;
      localStorage.removeItem('user_idle_' + user.userid)
    }
    var _this = this;

    this.$socket.on('CategoryName', function(response){
      if(response != null)
      {
        if(response.name) {
          _this.category.name = response.name
          _this.category.isChild = response.isChild
          _this.category.Products = response.Products
          if(response.Products != undefined)
          {
            _this.$socket.emit('layout_product', response.Products)
          }
          if(response.parentCategory)
          {
            _this.category.parentCategory = response.parentCategory
          }
        }
      }
    })
    this.$socket.on('Discounts', function(response){
      _this.$set(_this, 'Discounts', response)
    })
  },
  data() {
    return {
      category: 'base',
      product: false,
      parentCategory: false,
      productPrice: false,
      finishLink: false,
      tabs: null,
      headers: [
       { text: 'Name', sortable: false, value: 'name', width: "50%" },
       { text: 'Qty', value: 'qty', sortable: false, width: "5%" },
       { text: 'Each', value: 'each', sortable: false, width: "6%" },
       { text: 'Total', sortable: false, width: "39%" },
      ],
      cartArray: [],
      paymentItems: {
        isCardPayment: false,
        changeGiven: 0,
        paymentTotal: 0,
      },
      Discounts: [],
     // paymentDialog: false,
     // dialogCountdown: 10
    }
  },
  methods: {
    getExtra(item){
      var extra = 0;
      if(item.links !== undefined)
      {
        for (var i = 0; i < item.links.length; i++) {
          var link = item.links[i];
          if(link.extra != undefined)
          {
            extra += link.extra;
          }
        }
      }
      return extra;
    },
    deleteCartItem(index) {
      var oldCart = this.cartArray.slice()
      var removed = oldCart.splice(index,1);
      this.$set(this, 'cartArray', oldCart);
    },
    falsify(what){
      this[what] = false
    },
    changeTab(tab){
      if(this.cartTotal != 0)
      {
        this.tabs = 'itemTab-' + tab;
      }
    },
    newTransaction(){
      this.paymentItems = {
        isCardPayment: false,
        changeGiven: 0,
        paymentTotal: 0,
      }
      this.category = 'base';
      this.product = false;
      this.parentCategory = false;
      this.productPrice = false;
      this.finishLink = false;
      this.tabs = 'itemTab-1';
      this.cartArray = [];
    },
    categoryClick(item) {
      this.category = item;
    },
    productFunction(data) {
      var _this = this;
      switch (data.type) {
        case 'home':
          this.backtoBase()
          break;
        case 'back':
          this.productBack()
          break;
        case 'add':
          this.productAdd({
            item: data.item,
            price: data.price
          })
          break;
        case 'click':
          this.productClick(data.item)
          break;
        default:

      }
    },
    backtoBase(){
      this.$set(this, 'category', 'base')
      this.$set(this, 'product', false)
      this.$set(this, 'parentCategory', false)
      return;
    },
    productBack() {
      var currentCategory = this.category

      if(this.category == false && this.product != false && this.parentCategory != false)
      {
        this.$set(this, 'product', false)
        this.$set(this, 'category', {_id: this.parentCategory})
        this.$set(this, 'parentCategory', false)
        return;
      }

      if(this.category != 'base')
      {
        if(this.category.isChild != 'false')
        {
          this.$set(this, 'category', {_id: currentCategory.isChild})
          return;
        }else{
          return this.backtoBase()
        }
      }
    },
    productClick(item) {
      this.parentCategory = JSON.parse(JSON.stringify(this.category))._id;
      this.category = false;
      this.product = item;
      return;
    },
    productAdd(data) {
      var item;
      if(data.item.price)
      {
        item = data.item
      }else{
        item = {
          _id: data.item._id,
          name: data.item.name,
          stockProduct: data.item.stockProduct,
          price: data.item.pricing[data.price],
        }
      }

      // var inCart = false
      // if(this.cartArray.length != 0)
      // {
      //   for (var i = 0; i < this.cartArray.length; i++) {
      //     if(this.cartArray[i]._id == price._id)
      //     {
      //       inCart = true;
      //       break;
      //     }
      //
      //     inCart = false;
      //   }
      // }
      //
      this.category = 'base';
      this.product = false;

      // if(inCart)
      // {
      //   return this.cartArray[i].qty += 1;
      // }
      this.cartArray.push(item)

      this.checkForDiscount();
      return {
        array: item
      }
    },
    checkForDiscount() {
      var discountsArray = [];
      for (var i = 0; i < this.cartArray.length; i++) {
        if(this.cartArray[i].price.discounts)
        {
          discountsArray[i] = {
            cartIndex: i,
            _id: this.cartArray[i]._id,
            price: this.cartArray[i].price
          }
        }
      }

      this.$socket.emit('discountCheck', discountsArray)
    }
  },
  watch: {
    category: function(){
      var _this = this;
      if(this.category.name || this.category == 'base' || this.category == false) {
        return;
      }else{
        this.$socket.emit('getCategoryName', this.category._id);
      }
    },
  }
}
</script>
