<template>
  <v-container fluid fill-height class="grey lighten-2">
      <v-layout justify-center align-center>
        <v-flex xs6>
          <Numberpad v-on:keypress="keypress" keypadtype="number" nopoint maxlength="4">
            <template slot="input">
              <div
                class="input un"
                v-bind:class="{'focus': (selectedInput == 'un')}"
                @click="selectedInput = 'un'"
              >
                <label class="label" for="numlabel">User ID</label>
                <input
                  id="numlabel"
                  type="number"
                  v-model="un"
                >
              </div>
              <div
                class="input uc"
                v-bind:class="{'focus': (selectedInput == 'uc')}"
                @click="selectedInput = 'uc'"
              >
                <label class="label" for="numlabel">User Passcode</label>
                <input
                  id="numlabel"
                  type="number"
                  v-model="uc"
                >
              </div>
            </template>
          </Numberpad>
        </v-flex>
      </v-layout>
  </v-container>
</template>

<script>
import Numberpad from '../components/NumberPad.vue';
import { EventBus } from '../event-bus.js';

export default {
  name: 'Home',
  components: {
    Numberpad
  },
  data() {
    return {
      un: '',
      uc: '',
      selectedInput: 'un'
    }
  },
  methods: {
    keypress(value) {
      if(this.$data[this.selectedInput].length <= 4)
      {
        switch(value) {
          case "point":
            this.$data[this.selectedInput] = this.$data[this.selectedInput] + '.'
            break;
            case "backspace":
              this.$data[this.selectedInput] = this.$data[this.selectedInput].slice(0, -1)
              break;
            case "clear":
              this.$data.un = ''
              this.$data.uc = ''
              break;
            default:
              this.$data[this.selectedInput] = this.$data[this.selectedInput] + value
        }
      }
    }
  },
  watch: {
    userid: function() {

    },
    un: function() {
      if(this.un.length == 4)
      {
        this.selectedInput = 'uc'
      }
    },
    uc: function(){
      var _this = this;
      if(this.un.length == 4 && this.uc.length == 4)
      {
        this.$socket.emit('login', {'user': this.un, 'passcode': this.uc})
        this.$socket.on('login_success', function(response) {
            localStorage.setItem('user', JSON.stringify(response))
            EventBus.$emit('user_logged', response)
            _this.$router.push('dash')
        })
      }
    }
  },
  created() {
    if(this.$user)
    {
      this.user = this.$user;
    }
  }
}
</script>
<style scoped lang="scss">
.un {
  border-bottom: 0;
  &.focus {
    border-bottom: 2px solid #1976d2;
  }
}

.uc {
  border-bottom: 0;
  border-top: 0;
  &.focus {
    border-top: 2px solid #1976d2;
  }
}
</style>
